@import url(http://fonts.googleapis.com/css?family=Raleway);
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu {
  width: auto;
  border-bottom: 3px solid #47c9af;
  font-family: Raleway, sans-serif;
  line-height: 1;
}
#cssmenu ul {
  background: #ffffff;
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-right > ul > li {
  
  float: right;
}
#cssmenu.align-right > ul > li > a {
    
  margin-right: 0;
  margin-left: -4px;
}
#cssmenu > ul > li > a {
  z-index: 2;
  padding: 18px 25px 12px 25px;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  color: #444444;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  margin-right: -4px;
}
#cssmenu > ul > li.active > a,
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li > a:hover {
  color: #ffffff;
}
#cssmenu > ul > li > a:after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 120%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  content: "";
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform: perspective(5px) rotateX(2deg);
  -webkit-transform-origin: bottom;
  -moz-transform: perspective(5px) rotateX(2deg);
  -moz-transform-origin: bottom;
  transform: perspective(5px) rotateX(2deg);
  transform-origin: bottom;
}
#cssmenu > ul > li.active > a:after,
#cssmenu > ul > li:hover > a:after,
#cssmenu > ul > li > a:hover:after {
  background: #47c9af;
}
#log_out a{
     text-decoration: none;
     color:white;
}

#log_out{
    position: absolute;
    z-index: 10;
    
    background-color: #ff9800;
    width: 80px;
    height: 15px;
    padding: 8px;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
   
 
   top:0;
   right: 20;
}

#log_out:hover{
    background-color: #cc7a00;
    color:#ffb74d;
}


/* ====================================Page CSS=========================================*/

#data_container{
    margin: 0px;
    padding: 0px;
    position: relative;
    /*top:100px;*/
    left: -8px;
    width: 100%;
    height: 90%;
    overflow-x: auto;
    white-space: nowrap;
    
  }

 
table#pending_data{
    border-collapse: collapse;
}
  
  
 

body{
    background:   whitesmoke ;
    overflow: hidden;
     margin: 0;
    padding: 0;

}

tbody{
    background: lightgray;
    font-size: 15pt;
}

th, td {
    text-align: left;
    padding: 15px;
    border-style: none;
    font-family: serif;
   }
   


table#pending_data tr:nth-child(even) {
    background-color: #eee;
}
table#pending_data tr:nth-child(odd) {
   background-color:#fff;
}

table#pending_data th	{
   
    color: white;
}

table#pending_data tr:hover{
    background-color: #cceeff;
    font-weight: bolder;
}

.button {
    
    background-color: #00b2b3; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 10px;
}


#summary_table{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    border-collapse: collapse;
}

#summary_table tr td{
    background: whitesmoke;
   border-bottom-style: solid;
   border-bottom-color: #00b2b3;
   border-width: 1px;
   color: slategray;
   font-weight: bolder;
   font-size: 20pt;
   padding-top: 30px;
   padding-right:50px;
}

.val{
    border-left: solid;
    border-left-color: #00b2b3;
    padding-left: 50px;
    
}



::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}
::-webkit-scrollbar-track {
	background-color: rgba(113,112,107,0.1);
	-webkit-border-radius: 5px;
}
::-webkit-scrollbar-thumb:vertical {
	background-color: #2d97af;
	-webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:horizontal:hover {
	background: #51bbd2;
}

::-webkit-scrollbar-thumb:horizontal {
	background-color: rgba(0,0,0,.2);
	-webkit-border-radius: 6px;
}